<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="javascripts/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="javascripts/personal/scroll.js" script type="text/javascript"></script>










  </body>
</html>
